{{/* f451 demo: typefaces and favicon, see deploy/demo/forgejo/README.md */}}
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/f451-fonts.css">
<link rel="icon" href="{{AssetUrlPrefix}}/img/favicon.svg" type="image/svg+xml">
